@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600');

//colors
$app-main-text-color: #333;
$board-bg-color: #f4f5f6;
$line-color: #ddd;
$color-default: #425A8B;
$color-title: #8C9EC5;
$color-dashboard: #d6d6d6;
$color-discount: #d3574c;
$color-border: #d5dfe4;
$color-orange: #FD9636;
$color-active: #F0F3F8;
//size
$gap: 10px;
$font-size-default: 14px;
$size-item-header: 20px;
$size-discount: 30px;
$body-height: 50vh ;
$header-height:10vh;
$footer-height : 40vh;