//Chinh sach bao mat
.list-chinhsach {
  padding: 15px 0;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  h2 {
    margin: 15px 0;
  }
  ul {
    li {
      line-height: 25px;
    }
  }
}
blockquote {
  border-left: 4px solid ($color-default);
  border-right: 4px solid ($color-default);
  border-right-width: 0;
  padding: 0 40px 0 40px;
  margin: 0 0 10px;
  color: #000;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  // font-family: "Libre Baskerville", "Times New Roman", Times, serif;
}
.table td {
  border: 1px solid #d1d1d1;
}

// Lien he
.chi-nhanh {
  background-color: #fff;

  .chi-nhanh-content {
    display: flex;
    flex: 1 1;
    padding: 10;
    flex-direction: row;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    .chi-nhanh-content-info {
      flex: 2 1;
        .item-list-map {
          .align-items-center {
            padding: 0 15px;
            border-bottom: 1px solid #ddd;
            .bg-transparent {
              color: $color-default;
              min-width: 120px;
              &:hover {
                text-decoration: underline;
                color: $color-default;
                cursor: pointer;
              }
              &:focus, &:active {
                text-decoration: underline;
                color: $color-default;
                font-weight: bold;
              }
            }
          }
   
        }
 
      p {
        margin:$gap 0;
      
      }
    }
    .chi-nhanh-content-map {
      flex: 3 1;
      padding: 20px 10px 20px 20px;
      p {
      
        iframe {
          width: 100%;
        }
      }
    }
  }
  .vertical-line {
    border-left: 1px solid #ddd;
}
}
