@import "animate";
@import "responsive";
@import "homepage/header";
@import "homepage/footer";
@import "homepage/homepage";


@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");

html {
  body {
    font-family:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
    background-color: #fff !important;
    .position-loading {
      bottom: 17px;
      left: 50%;
      .loading-screen {
        left: 0;
        top: 100%;
        width: 100%;
        height: auto;
        position: absolute !important;
        transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
        z-index: 999;
        .loadingspinner {
          pointer-events: none;
          width: 2em;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          height: 2em;
          position: absolute;
          top: 100%;
          border: 0.2em solid transparent;
          border-color: #eee;
          border-top-color: #0e71b9;
          border-radius: 50%;
          animation: loadingspin 1s linear infinite;
        }
      }
    }
  
    .loading-screen-home {
      left: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      position: fixed !important;
      background: #fff;
      transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
      z-index: 999;
      .loadingspinner {
        pointer-events: none;
        width: 7em;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        height: 7em;
        position: absolute;
        top: 50%;
        border: 0.4em solid transparent;
        border-color: #eee;
        border-top-color: #0e71b9;
        border-radius: 50%;
        animation: loadingspin 1s linear infinite;
      }
    }
    @keyframes loadingspin {
      100% {
        transform: rotate(360deg);
      }
    }
    .flex-1 {
      flex: 1;
    }
    .text-black {
      color: #393939;
    }
    .text-gray {
      color:#404040;
    }
    .text-content {
      color: #fff !important;
      opacity: 0.7;
    }
    //margin-right
    .mr-5 {
      margin-right: 5px;
    }
    .mr-10 {
      margin-right: 10px;
    }
    .mr-15 {
      margin-right: 15px;
    }
    .mr-20 {
      margin-right: 20px;
    }
    .mr-25 {
      margin-right: 25px;
    }
  
      //margin-left
      .ml-5 {
        margin-left: 5px;
      }
      .ml-10 {
        margin-left: 10px;
      }
      .ml-15 {
        margin-left: 15px;
      }
      .ml-20 {
        margin-left: 20px;
      }
      .ml-25 {
        margin-left: 25px;
      }
  }
}

.w-60 {
  width: 60% !important;
}
.w-70 {
  width: 70% !important;
}
.w-80 {
  width: 80% !important;
}
.w-90 {
  width: 90% !important;
}

//height 
.h-90 {
  height: 90% !important;
}
.h-80 {
  height: 80% !important;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.float-left {
  float: left;
}

@keyframes slideInUp {
  0% {
     opacity: 0;
     transform: translateY(60px);
  }
  100% {
     opacity: 1;
     transform: translateY(0);
  }
}

@-webkit-keyframes slideInUp {
  0% {
     opacity: 0;
     transform: translateY(60px);
  }
  100% {
     opacity: 1;
     transform: translateY(0);
  }
}

@keyframes slideInDown {
  0% {
    opacity: 0;
    transform: translateY(-40px);
 }
 100% {
    opacity: 1;
    transform: translateY(0);
 }
}

@-webkit-keyframes slideInDown {
  0% {
     opacity: 0;
     transform: translateY(-40px);
  }
  100% {
     opacity: 1;
     transform: translateY(0);
  }
}