.layout-mobile {
  .compare-list-products {
    .data-item-mobile {
      .compare-list-detail {
        .compare-list-item {
          margin: 0;
          .compare-list-item-image {
            a {
              img {
                border-radius: 8px;
              }
            }
          }
          .compare-list-item-info {
            padding: 0 10px 0 10px;
            // font-family: "google";
            h3 {
              font-size: 1.25rem;
            }
            h4 {
              font-size: 1.25rem;
              // text-align: center;
            }
            button {
              padding: 6px $gap;
            }
          }
        }
      }
    }
  }
  .compare-list-products .slick-track {
    display: flex;
  }
  .compare-list-detail.data-item-mobile {
    .slick-track {
      margin: 0;
      display: flex;
    }
  }

  .compare-list-products {
    .compare-list-detail.detail-search {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(50%, 0fr));
      justify-items: center;
      .compare-list-item {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 6px;
        float: left;
        position: relative;
        text-align: center;
        width: calc(100% - 15px) !important;
        background: rgb(255, 255, 255);
        border-radius: 5px;
        margin: 0px 0 15px 0px;
        // &:nth-child(5n) {
        //    margin-right: 0 !important;
        // }
      }
    }
  }
  .search-page {
    .info-login {
      margin-top: 10px;
    }
    .user-action .username h6,
    .user-action .username .h6 {
      font-size: 16px;
      justify-content: center;
      display: flex;
      word-wrap: break-word;
      align-items: center;
      vertical-align: middle;
      word-break: break-word;
    }
    .info-login {
      padding: 0 5px;
    }

    .list-category-sidebar {
      display: inline-block !important;
      padding: 0;
      height: 100vh;
    }
    .icon-close {
      position: relative;
      top: 10px;
      right: 10px;
      padding: 0;
    }
    .data-item-mobile {
      a {
        img {
          // height: 50px !important;
          width: 100%;
        }
      }
    }
  }
  .menu-icon {
    display: block !important;
    position: relative;
    top: 0;
    left: 0;
    margin-right: 20px;
    font-size: 1.8rem;
    cursor: pointer;
    line-height: 40px;
  }
  .search-header {
    padding: 0;
    width: 100% !important;
    padding: 10px 15px 0 15px;
    .input-group-append {
      button {
        border: none;
        height: 35px;
      }
    }
  }

  .nav-menu {
    display: none;
  }
  .nav-menu.active {
    display: block;
    position: fixed;
    z-index: 999;
    background: #acb6be8c;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    .rounded {
      top: 0;
      width: 60%;
      // height: 100%;
      position: relative !important;
    }
  }
  // .nav-menuTet {
  //   display: none;
  // }
  // .nav-menuTet.active {
  //   margin-top: 0;
  //   display: block;
  //   position: fixed;
  //   z-index: 999;
  //   background: #acb6be8c;
  //   top: 0;
  //   left: 0;
  //   height: 100%;
  //   width: 100%;

  //   .rounded {
  //     top: 0;
  //     width: 60%;
  //     position: relative !important;
  //   }
  // }

  .category {
    .list-category {
      width: 100% !important;
      display: block;
      height: 45px;
      padding-left: 10px !important;
      padding: 0;
    }
    .category .mega-category:hover {
      opacity: 1;
      visibility: visible;
      display: block !important;
      top: 50px;
      box-shadow: 0px 0px 15px #0e71b9;
      z-index: 999;
    }
    .category-label {
      padding: 7px 0 !important;
      padding-left: 10px !important;
    }
  }
  .user-action {
    .shopping-cart {
      text-align: right !important;
    }
  }


  .category .list-category .item-category {
    font-size: 14px;
    vertical-align: middle;
    width: 100%;
    display: block;
    justify-content: space-between;
    align-items: center;
    text-align: left !important;
    border-bottom: 1px solid #e0e0e054;

    a {
      display: block;
      text-align: left !important;
    }
  }
  .modal-login {
    .sign-in-app {
      .justify-content-between {
        display: block !important;
        button {
          width: 100%;
        }
        button.sign-in-facebook {
          margin: 15px 0;
        }
        button.sign-in-google {
          justify-content: center;
        }
      }
    }
  }
}
