.x21-kingsmith {
  overflow-x: hidden;
  .body-content {
    .left-content {
      .sticky {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
        z-index: 100;
      }
      .slider-child {
        .small-slick {
          display: flex;
          min-width: 120px;
          .slick-track {
            .slick-slide {
              display: inline-block;
              width: auto;
              .list-items-slider {
                .item {
                  border: 1px solid #d5dfe4;
                  display: inline-block;
                  position: relative;
                  transition: all 0.3s ease 0s;
                  margin: 0 7px;
                  img {
                    min-width: calc(100% - 200px);
                    object-fit: contain;
                  }
                }
              }
            }
            .slick-current {
              .item {
                border: 1px solid #425a8b !important;
              }
            }
          }
        }
        .product-sliders.is-sticky {
          position: fixed;
          top: 10px;
          z-index: 999;
          animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
        }
        .slick-prev {
          width: 30px;
          height: 30px;
          &::before {
            color: #425a8b6e;
            content: "\f053";
            display: block;
            font-family: "Font Awesome 5 Free";
            font-size: 30px;
            font-weight: 900;
          }
        }
        .slick-next {
          width: 30px;
          height: 30px;
          &::before {
            color: #425a8b6e;
            content: "\f054";
            display: block;
            font-family: "Font Awesome 5 Free";
            font-size: 30px;
            font-weight: 900;
          }
        }
      }
    }
    .right-content {
      .info-top {
        .small-letters {
          span {
            background-color: #b24d04;
            font-size: 12px;
            display: inline-block;
            padding: 0 10px;
            border-radius: 4px;

            color: #fff;
            font-weight: 500;
          }
        }
      }
      .info-content {
        .main-feature {
          transition: all 0.3s;
          transition-delay: 0.1s;
          margin-bottom: 12px;
          .more-btn.show {
            transform: rotate(90deg);
            &:after {
              width: 0;
            }
          }
          .more-btn {
            z-index: 99;
            width: 20px;
            height: 20px;
            display: block;
            position: absolute;
            right: 0;
            top: 3px;
            text-indent: -99999px;
            border: 0;
            cursor: pointer;
            background: transparent;
            transition: all 0.3s;
            overflow: hidden;
            &:before {
              content: "";
              width: 2px;
              height: 12px;
              background: #000;
              display: block;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
            }
            &:after {
              content: "";
              width: 12px;
              height: 2px;
              background: #000;
              display: block;
              position: absolute;
              left: 50%;
              top: 9px;
              transform: translateX(-50%);
              transition: all 0.3s;
            }
            [dir="rtl"] & {
              right: auto;
              left: 0;
            }
            &:focus {
              outline: 5px auto -webkit-focus-ring-color;
            }
          }
        }
        .feature-content {
          transition: all 0.5s linear, margin 0.5s linear 0s;
          opacity: 0;
          transform: translateY(-50px);
          height: 0;
          .feature-list {
            padding: 20px 20px 15px;
            border: 1px solid #e4e4e4;
            border-radius: 8px;
            ul {
              li {
                line-height: 25px;
              }
            }
            p {
              span {
                font-size: 14px !important;
                line-height: 25px;
              }
            }
          }
        }
        .feature-content.show {
          height: 165px;
          transform: translateY(0);
          opacity: 1;
          transition: all 0.5s linear, margin 0.5s linear 0.5s;
          .feature-list {
            padding: 20px 20px 15px;
            border: 1px solid #e4e4e4;
            border-radius: 8px;
            p {
              span {
                font-size: 14px !important;
                line-height: 25px;
              }
            }
          }
        }
        .delivery-list {
          padding: 20px 20px 0;
          border: 1px solid #e4e4e4;
          border-radius: 8px;
          ul {
            li {
              padding: 0 0 12px 10px;
              &:not(:last-child) {
                border-bottom: 1px solid #eee;
              }

              span {
                font-size: 20px;
                color: #333;
              }
            }
          }
        }
        .price-box-area {
          .list-price {
            border: 1px dashed #b3b3b3;
            padding: 0 10px;
            background: #f8f8f8;
            border-radius: 8px;
            margin-top: 12px;
            ul {
              li {
                padding: 15px 20px;
                .price-box-product {
                  line-height: 1.5;
                }
              }
            }
          }
        }
        .buy {
          p.text-price {
            font-size: 26px;
          }
        }
        .buy.fixed-price {
          position: sticky;
          bottom: 40px;
          p.text-price {
            font-size: 26px;
          }
        }
      }
    }
    .list-icons__kingsmith {
      background-color: #425a8b;
    }
  }
  .list-content {
    .product-content {
      .detail-content {
        .raw-html-embed {
          text-align: center;
        }
        img {
          width: auto;
          max-width: 100%;
          margin: 0 auto;
          display: block;
        }
        .product-icons {
          margin-left: calc(50% - 50vw);
          margin-right: calc(50% - 50vw);
          max-width: 1000%;
          width: auto;
          background-color: #425a8b;
          ul {
            padding: 50px;
            justify-content: space-evenly;
          }
        }
        .body-content-product,
        .video-product {
          margin-left: calc(50% - 50vw);
          margin-right: calc(50% - 50vw);
          max-width: 1000%;
          width: auto;
          .detail-product {
            .product-title {
              width: 70%;
              display: block;
              margin: 0 auto;
              text-align: center;
              left: 0;
              right: 0;
              top: 100px;
              position: absolute;
              ul {
                li {
                  margin: 0 10px;
                  p.number {
                    font-size: 36px;
                    span {
                      font-size: 20px;
                    }
                  }
                }
              }
              h2 {
                font-size: 36px;
              }
              p {
                font-size: 20px;
                line-height: 35px;
                margin-top: 30px;
                color: #404040;
              }
            }
            .product-image,
            .product-video {
              margin-left: calc(50% - 50vw);
              margin-right: calc(50% - 50vw);
              max-width: 1000%;
              width: auto;
            }
          }
          .detail-product.sp-1, .detail-product.sp-2, .detail-product.sp-3, .detail-product.sp-4 {
            margin-left: calc(50% - 50vw);
            margin-right: calc(50% - 50vw);
            max-width: 1000%;
            width: auto;
            .product-title {
              p {
                width: 70%;
                margin: 0 auto;
              }
            }
          }
          .detail-product.sp-5 {
            margin-left: calc(50% - 50vw);
            margin-right: calc(50% - 50vw);
            max-width: 1000%;
            width: auto;
            .product_hover {
              padding-top: 100px;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: rgba(0, 0, 0, 0.6);
              opacity: 0;
              transition: opacity 1s;
              h2,
              p {
                margin: 0 auto;
              }
              &:hover {
                opacity: 1;
              }
            }
          }
          .detail-product.sp-6 {
            margin-left: calc(50% - 50vw);
            margin-right: calc(50% - 50vw);
            max-width: 1000%;
            width: auto;
            .product-title {
              text-align: left;
              position: absolute;
              width: 35%;
              padding-left: 10%;
              top: 30%;
              margin: 0;
              right: auto;
              left: 0%;
            }
          }
          .detail-product.sp-7 {
            margin-left: calc(50% - 50vw);
            margin-right: calc(50% - 50vw);
            max-width: 1000%;
            width: auto;
            .product-title {
              p {
                width: 70%;
                margin: 0 auto;
              }
            }
          }
          .detail-product.sp-8 {
            margin-left: calc(50% - 50vw);
            margin-right: calc(50% - 50vw);
            max-width: 1000%;
            width: auto;
            background-color: #313131;
            padding: 5% 0;
            .product-title {
              position: relative;
              top: 0;
              h2,
              p {
                width: 50%;
                margin: 0 auto;
              }
            }
            .product-image {
              width: 80% !important;

              margin: 0 auto;
              margin-top: 80px;
              img {
                border-radius: 30px;
              }
            }
          }
          .detail-product.sp-9 {
            margin-left: calc(50% - 50vw);
            margin-right: calc(50% - 50vw);
            max-width: 1000%;
            width: auto;
            .product-title {
              text-align: left;
              position: absolute;
              width: 45%;
              padding-left: 10%;
              top: 30%;
              margin: 0;
              right: auto;
              left: 0%;
              ul {
                li {
                  text-align: center;
                }
              }
            }
          }

          .detail-product.sp-10 {
            margin-left: calc(50% - 50vw);
            margin-right: calc(50% - 50vw);
            max-width: 1000%;
            width: auto;
            .product-title {
              text-align: right;
              position: absolute;
              width: 35%;
              top: 30%;
              margin: 0;
              right: 10%;
              left: auto;
              p.big-font {
                font-size: 36px;
                span {
                  font-size: 20px;
                }
              }
            }
          }
          .detail-product.sp-11 {
            margin-left: calc(50% - 50vw);
            margin-right: calc(50% - 50vw);
            max-width: 1000%;
            width: auto;
            .product-title {
              p {
                width: 70%;
                margin: 0 auto;
              }
            }
          }
          .detail-product.sp-12 {
            margin-left: calc(50% - 50vw);
            margin-right: calc(50% - 50vw);
            max-width: 1000%;
            width: auto;
            background-color: #313131;
            padding: 5% 0;
            .product-title {
              position: relative;
              top: 0;
              h2,
              p {
                width: 50%;
                margin: 0 auto;
              }
            }
            .product-image {
              width: 80% ;

              margin: 0 auto;
              margin-top: 80px;
              img {
                border-radius: 30px;
              }
            }
          }
        }
      }
    }
    .specification {
      display: flex;
      figure.image,
      figure.table {
        flex: 1;
        img {
          width: 100%;
        }
        tr {
          line-height: 2;
          border-color: transparent;
          td {
            border: none !important;
            vertical-align: top;
            p {
              white-space: pre;
            }
          }
        }
      }
    }

    ul.border-tab.fixed {
      border-top: none;
      position: fixed;
      z-index: 99;
      left: 0;
      top: 0;
      justify-content: flex-end;
      .list-tabs {
        display: flex;
        overflow-x: auto;
        li.nav-item {
          a.nav-link.active {
            color: #000;
            border: none;
            border-bottom: 3px solid #425a8b;
          }
          a.nav-link {
            font-weight: 500;
            text-transform: uppercase;
            padding: 0 1rem;
            font-size: 14px;
            display: inline-block;
            width: 100%;
            text-align: center;
            word-break: keep-all;
            color: #888;
          }
        }
      }
   
      .sticky-tab__show {
        margin-left: 15px;
        display: table;
        position: absolute;
        left: 0;
        align-items: center;
        height: 100%;
        max-width: 300px;
        text-align: center;
        p {
          display: table-cell;
          vertical-align: middle;
          font-size: 16px;
        }
      }
    }

    .section1,
    .section2,
    .section3,
    .section4,
    .section5 {
      padding-top: 60px;
      .form-comment {
        padding: 0;
      }
    }
    .tab-scroll-controller {
      display: none;
    }

    ul.border-tab {
      background-color: #fff;
      width: 100%;
      display: flex;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      justify-content: space-evenly;
      overflow-x: auto;
      .list-tabs {
        display: flex;
        overflow-x: auto;
        li.nav-item {
          height: 60px;
          line-height: 57px;
          a.nav-link.active {
            color: #000;
            border: none;
            border-bottom: 3px solid #425a8b;
          }
          a.nav-link {
            font-weight: 500;
            text-transform: uppercase;
            padding: 0 1rem;
            font-size: 18px;
            display: inline-block;
            width: 100%;
            text-align: center;
            word-break: keep-all;
            color: #888;
          }
        }
      }
  
      .sticky-tab__show {
        display: none;
      }
    }
  }

  .list-product-left {
    .product-content {
      .list-promotion {
        margin: 50px 30px;
        .promotion-header {
          p {
            font-size: 16px;
          }
        }
        .promotion-content {
          display: flex;
          .box-content {
            margin: 15px;
            flex: 1;
            p {
              line-height: 1.5;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  .button-purchase {
    .button-buy {
      width: 100%;
      text-align: center;
      padding: 10px;
      background-color: #425a8b;
      color: #fff;
    }
  }

  //certified
  .certified {
    .title-design {
      display: flex;
      align-items: center;
      position: relative;
      h4 {
        width: 25%;
        padding: 0 15px;
        font-size: 30px;
        color: #464646;
        text-align: center;
        font-family: myFirstFont_B;
      }
   
      .line-middle {
        width: 40%;
        height: 1px;
        background-color: #ddd;
      }
    }
    p.w-50 {
      display: block;
      margin: 0 auto;
      text-align: center;
      font-size: 16px;
    }
    .content-design {
      ul {
        li {
          p {
            font-size: 16px;
          }
        }
      }
    }
  }
}
